html
  font-family: 'Segoe UI', 'Verdana', sans-serif
  box-sizing: border-box

.header
  &--large
    height: 400px
  h1
    padding-top: 25px
    text-align: center
    font-size: 46px
  div
    height: 200px
    background: #e3ecfc
  div + div
    height: 50px
    background: #77abff
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.07) inset
  nav
    +clearfix()
    padding-top: 6px
    width: 200px
    margin: 0 auto
  a
    width: 50%
    font-size: 24px
    display: block
    float: left
    text-align: center
    text-decoration: none
    text-transform: lowercase
    padding: 4px 8px
  a.active
    border-bottom: 4px solid #000