@{
    ViewData["Title"] = "Home";
}
<section>
    <div class="container">
        <div>hello</div>
        <div>hello</div>
        <div>hello</div>
        <div>hello</div>
        <div>hello</div>
    </div>
</section>